<div class="large-12 small-12 columns nopadding bottombar_wrapper">
	<div class="large-12 small-12 columns text_center">
		<div class="large-5 small-5 columns page_head_line">
		
		</div>

		<div class="large-2 small-2 columns nopadding ico_decoration">
			<img src="/media/Завихрюшка.png" alt="завихрюшка">
		</div>

		<div class="large-5 small-5 columns page_head_line">
			
		</div>
	</div>
	<div class="large-4 small-12 columns bottombar_left">
		<div class="large-12 small-12 columns">
			<span class="span_subusual">2017 &#9400 detress wedding</span>
		</div>
		<div class="large-12 small-12 columns">
			<span class="span_subusual">Будуарные платья и халаты для невест</span>
		</div>
	</div>

	<div class="large-4 small-12 columns">
		
		<div class="large-12 small-12 columns nopadding trapezoid_wrapper">
			<div class="trapezoid_upper">
				<div class="bottombar_telephone">
					<span class="garamond_subusual font_garamond">+7 937 000-33-90</span>
				</div>
				<div class="bottombar_call_us">
					<span class="garamond_subusual font_garamond color_pink"> Позвоните нам</span>
				</div>
			</div>
		</div>

		<div class="large-12 small-12 columns nopadding trapezoid_wrapper">
			<div class="trapezoid_lower">
				<div class="bottombar_email">
					<span class="garamond_subusual font_garamond">info@detress.ru</span>
				</div>
			</div>
		</div>

	</div>

	<div class="large-4 small-12 columns">
		<div class="large-12 small-12 columns bottom_right_wrapper">
			<span class="span_subusual bottom_instagram_wrapper"><a href="http://instagram.com/detress_wedding/" title="Группа в Instagram"><i class="fi-social-instagram size-36"></i></a></span>
		</div>		
	</div>
</div>