<div class="large-12 small-12 columns nopadding bottombar_wrapper">
	<div class="large-12 small-12 columns text_center">
		<div class="large-5 small-5 columns page_head_line">
		
		</div>

		<div class="large-2 small-2 columns nopadding ico_decoration">
			<img src="/media/Завихрюшка.png" alt="завихрюшка">
		</div>

		<div class="large-5 small-5 columns page_head_line">
			
		</div>
	</div>
	<div class="large-4 small-12 columns">
		<div class="large-12 small-12 columns">
			<span class="span_subusual">2017 detress wedding</span>
		</div>
		<div class="large-12 small-12 columns">
			<span class="span_subusual">Будуарные платья и халаты для невест</span>
		</div>
	</div>
	<div class="large-4 small-4 columns">
		
	</div>
	<div class="large-4 small-4 columns">
		
	</div>
</div>