<div class="large-12 small-12 columns nopadding banner_wrapper">
	<div class="row banner_content nopadding height_inherit" style="margin:0;">

		<div class="large-3 small-12 columns nopadding height_inherit banner_item">
			<div class="banner_item_up large-12 small-12 columns nopadding">
				<div class="large-12 small-12 columns nopadding banner_item_image_wrapper">
					<img src="/media/banner/Машинка без текста.png" alt="Пошив в короткие сроки иконка">	
				</div>
			</div>
			<div class="banner_item_down large-12 small-12 columns nopadding">
				<h3 class="banner_item_text vera_crouz">Пошив в короткие сроки</h3>
			</div>
		</div>

		<div class="large-3 small-12 columns nopadding height_inherit banner_item">
			<div class="banner_item_down large-12 small-12 columns nopadding">
				<h3 class="banner_item_text vera_crouz">Только качественная ткань</h3>
			</div>
			<div class="banner_item_up large-12 small-12 columns nopadding">
				<div class="large-12 small-12 columns nopadding banner_item_image_wrapper">
					<img src="/media/banner/ткань без текста.png" alt="Только качественная ткань иконка">	
				</div>
			</div>
		</div>

		<div class="large-3 small-12 columns nopadding height_inherit banner_item">
			<div class="banner_item_up large-12 small-12 columns nopadding">
				<div class="large-12 small-12 columns nopadding banner_item_image_wrapper">
					<img src="/media/banner/Доставка без текста.png" alt="Бесплатная доставка иконка">	
				</div>
			</div>
			<div class="banner_item_down large-12 small-12 columns nopadding">
				<h3 class="banner_item_text vera_crouz">Бесплатная доставка</h3>
			</div>
		</div>

		<div class="large-3 small-12 columns nopadding height_inherit banner_item">
			<div class="banner_item_down large-12 small-12 columns nopadding">
				<h3 class="banner_item_text vera_crouz">Гарантия возврата</h3>
			</div>
			<div class="banner_item_up large-12 small-12 columns nopadding">
				<div class="large-12 small-12 columns nopadding banner_item_image_wrapper">
					<img src="/media/banner/Гарантия без текста.png" alt="Гарантия возврата иконка">	
				</div>
			</div>
		</div>

	</div>
</div>