<div class="large-12 small-12 columns nopadding menubar_wrapper uppercase font_garamond">
  <div class="row nopadding height_inherit menubar_content transition" style="margin:0;">

    <div class="mobile_close">
      <span>&times;</span>
    </div>

    <div class="menubar_item_massive height_inherit large-12 small-12 columns nopadding">
      {% for unit in units %}
        <div class="menubar_item_line" data-id="{{unit.id}}">
          <div class="menubar_item_text transition">
            <span class="span_usual">{{unit.name}}</span>
            <span class="arrow">
              <svg class="angle_ico" viewBox="0 0 2048 2048" xmlns="http://www.w3.org/2000/svg"><path d="M1299 1088q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg>
            </span>
          </div>
          <div class="menubar_item_triangle_wrapper">
            <div class="menubar_item_triangle">
            </div>
          </div>
        </div>    
      {% endfor %}
    </div>

    <div class="menubar_item_content_wrapper large-12 small-12 columns nopadding">
      {% for unit in units %}
        <div class="menubar_item_content height_inherit nopadding" data-id="{{unit.id}}">
          <div class="menubar_item_content_header nopadding uppercase color_fff font_garamond  large-12 small-12 columns side_shadow">
            <span class="span menubar_header_text">
              <span class="small-5 columns detress_button_small menubar_back span_small nopadding">назад</span>
              <span class="large-12 small-7 columns nopadding menubar_header_text_text">{{unit.name}}</span>
            </span>
          </div>
          <div class="large-12 small-12 columns nopadding content_wrapper side_shadow">
            <div class="large-6 small-12 columns nopadding content_items height_inherit">
              {% for child in unit.children %}
                <div class="large-12 small-12 columns nopadding content_item">
                  <!-- <a href="#"> -->
                    <span class="span_subusual">{{child.name}}</span>
                  <!-- </a> -->
                </div>
              {% endfor %}    
            </div>
            <div class="large-6 small-6 columns nopadding content_image height_inherit">
              <div class="large-12 small-12 columns nopadding">
                <img src="/media/{{unit.image}}" alt="">                
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</div>

<script>
  var menubar_units = {{units|safe}};
</script>