.page_description_text{
	padding-bottom:50px;
}

.page_description_header{
	padding-bottom:15px;
}

.page_description_header h3{
	font-size:55px;
	color:#361134;
}

.page_description_content{
	background-color:#fff;
	padding-top:15px;
	padding-bottom:15px;
}

.page_description_content_inner{
	background-color:#ffe6de;
	padding-left:50px;
	padding-right:50px;
	padding-top:20px;
}

/* для смартфонов */
@media screen and (min-width: 640px) and (max-width: 1023px) {
	.page_description_header h3{
		font-size:100px;
	}
}