<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta content="user-scalable=yes" name="viewport" initial-scale="1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="description" content="{{meta.Description}}" />
  <meta name="google-site-verification" content="cpVez0tOEh51g5wkPaQl0iLsWxg2b_JnaFxkD0RiE_c" />
  <title>{{meta.Title}}</title>
	{% load staticfiles %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">

  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/foundation.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.waitforimages.js' %}"></script>


  <script type="application/ld+json">
    {{json_ld.jsons|safe}};
  </script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
  <link rel="stylesheet" href="{% static 'css/foundation-flex.css' %}">
  <link rel="stylesheet" href="{% static 'css/foundation-icons/foundation-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/foundation-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/top/topbar.css'%}">
  <link rel="stylesheet" href="{% static 'css/top/logobar.css' %}">
  <link rel="stylesheet" href="{% static 'css/top/menubar.css' %}">
  <link rel="stylesheet" href="{% static 'css/top/banner.css' %}">
  <link rel="stylesheet" href="{% static 'css/content/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/content/units.css' %}">
  <link rel="stylesheet" href="{% static 'css/content/description.css'%}">
  <link rel="stylesheet" href="{% static 'css/bottom/bottombar.css' %}">
  <link rel="stylesheet" href="{% static 'css/loading.css' %}">
</head>
<body>

  <div class="large-12 small-12 columns login_modal_wrapper">
    <div class="loading_ico">
      <i class="fi-loop size-48"></i>
    </div>
  </div>

  <!-- topbar panel -->
  {{top.topbar}}
  <!-- endtopbar_panel-->

  <div class="large-12 small-12 columns nopadding">
    <div class="row nopadding page_content side_shadow">
      <!-- logo panel -->
      <div class="large-12 small-12 columns nopadding logobar_wrapper">
        <div class="row logobar_content nopadding height_inherit" style="margin:0;">
          <div class="small-2 columns height_inherit nopadding mobile_menu_button">
            <i class="fi-align-justify height_inherit mobile_menu_button_ico">
              
            </i>
          </div>

          <div class="large-4 columns logobar_left_wrapper background_fff">
            <span class="span_subusual logobar_instagram_wrapper"><a href="http://instagram.com/detress_wedding/" title="Группа в Instagram"><i class="fi-social-instagram size-36"></i></a></span>
          </div>
            
          <div class="large-4 small-9 columns height_inherit logo_wrapper nopadding">
            <h1 class="logo_content vera_crouz height_inherit" style="background-image:url('/media/НОВАЯ-КЛЯКСА.png')">
              <a href="">
                <span class="large-12 small-12 columns logo_content_upper">detress</span>
                <span class="large-12 small-12 columns logo_content_lower">wedding</span>
              </a>
            </h1>
            <!-- <a href="#">
              <img src="/media/logo/logo.png" alt="Платья">
            </a> -->
          </div>

          <div class="large-4 columns logobar_right_wrapper background_fff">
            <div class="logobar_telephone">
              <span class="font_garamond color_grey logobar_telephone_text">+7 937 000-33-90</span>
            </div>
          </div>

        </div>
      </div>
      <!-- end logopanel-->

      <!-- menubar -->
      {{top.menubar}}
      <!-- конец menubar -->

      <!-- banner -->
      {{top.banner}}
      <!-- end banner-->

      <!-- content -->
      {{content}}
      <!-- end content -->
      
      <!-- bottombar -->
      {{bottombar}}
      <!-- end bottombar -->
    </div>
  </div>
  {% csrf_token %}

  <!-- конец блока содержания-->
  <script>
    //ajax запрос
    var makeAjax = function(parameters){
      $.ajax({
          type: "POST",
          url: "/ajax/",
          data: JSON.stringify(parameters),
          contentType: "application/json; charset=utf-8",
          headers: {
            'X-CSRFToken': getCookie('csrftoken')
          },
          dataType: "json",
          async: true,
          success: function(data, textStatus, jqXHR){

          }
      });
    }

    //построить cookie в данном случае для csrf_token
    var getCookie = function(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
  </script>
  <script src="{% static 'js/topbar/menubar.js' %}"></script>
  <script src="{% static 'js/topbar/banner.js' %}"></script>
  <script src="{% static 'js/content/gallery.js' %}"></script>
  <script src="{% static 'js/common/effects.js' %}"></script>
</body>