<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta content="user-scalable=yes" name="viewport" initial-scale="1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="description" content="{{meta.Description}}" />
  <meta name="google-site-verification" content="cpVez0tOEh51g5wkPaQl0iLsWxg2b_JnaFxkD0RiE_c" />
  <title>{{meta.Title}}</title>
	{% load staticfiles %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">

  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/foundation.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.waitforimages.js' %}"></script>


  <script type="application/ld+json">
    {{json_ld.jsons|safe}};
  </script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
  <link rel="stylesheet" href="{% static 'css/foundation-flex.css' %}">
  <link rel="stylesheet" href="{% static 'css/foundation-icons/foundation-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/foundation-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/top/topbar.css'%}">
  <link rel="stylesheet" href="{% static 'css/top/logobar.css' %}">
  <link rel="stylesheet" href="{% static 'css/top/menubar.css' %}">
</head>
<body>
  <!-- topbar panel -->  
  <div class="topbar_wrapper color_fff font_roboto transition uppercase large-12 small-12 columns nopadding">
    <div class="row topbar_content nopadding">

      <div class="topbar_content_left transition large-3 small-12 columns height_inherit nopadding">
        <div class="large-11 small-11 columns nopadding">
          <input type="text" class="input_small" placeholder="поиск, напишите что Вы ищите...">          
        </div>
        <div class="large-1 small-1 columns nopadding">
          <div class="search_icon height_inherit">
            <i class="fi-magnifying-glass color_000">
              
            </i>
          </div>
        </div>
      </div>

      <div class="topbar_content_center large-6 small-12 columns height_inherit nopadding">
      </div>

      
      <div class="topbar_content_right large-3 small-12 columns height_inherit nopadding">

        <!-- панель login -->
        <div class="large-4 small-6 columns height_inherit nopadding">
          <div class="login_wrapper large-12 small-12 columns height_inherit nopadding font_inherit transition" tabindex="1">
            <div class="triangle_wrapper large-2 small-2 columns nopadding">
              <div class="triangle">
              </div>
            </div>
            <div class="large-10 small-10 columns nopadding">
              <span class="login_text">войти через</span>            
            </div>
          </div>

          <div class="login_content large-12 small-12 columns nopadding">

            <div class="large-12 small-12 columns nopadding login_content_line">
              <span class="span_small color_000 large-12 small-12 columns nopadding height_inherit">
                вконтакте
              </span>
            </div>

            <div class="large-12 small-12 columns nopadding login_content_line">
              <span class="span_small color_000 large-12 small-12 columns nopadding height_inherit">
                одноклассники
              </span>  
            </div>

            <div class="large-12 small-12 columns nopadding login_content_line">
              <span class="span_small color_000 large-12 small-12 columns nopadding height_inherit">
                facebook
              </span>  
            </div>

            <div class="large-12 small-12 columns nopadding login_content_line">
              <span class="span_small color_000 large-12 small-12 columns nopadding height_inherit">
                twitter
              </span>  
            </div>

            <div class="large-12 small-12 columns nopadding login_content_line">
              <span class="span_small color_000 large-12 small-12 columns nopadding height_inherit">
                mail.ru
              </span>  
            </div>

            <div class="large-12 small-12 columns nopadding login_content_line">
              <span class="span_small color_000 large-12 small-12 columns nopadding height_inherit">
                яндекс
              </span>  
            </div>

            <div class="large-12 small-12 columns nopadding login_content_line">
              <span class="span_small color_000 large-12 small-12 columns nopadding height_inherit">
                google
              </span>  
            </div>
          </div>
        </div>
        <!-- конец панели login -->

        <!-- панель выбранные вещи-->
        <div class="large-8 small-6 columns height_inherit nopadding">
          <div class="bag_wrapper large-12 small-12 columns height_inherit nopadding font_inherit transition" tabindex="2">

            <div class="large-2 small-2 columns nopadding bag_ico_wrapper">
              <i class="fi-shopping-bag"></i>
            </div>

            <div class="large-4 small-4 columns nopadding">
              <span class="bag_text">товары</span>            
            </div>

            <div class="large-3 small-3 columns nopadding">
              <span class="bag_count">[0 шт.]</span>
            </div>
            
            <div class="large-3 small-3 columns nopadding">
              <span class="bag_rur">0 руб.</span>
            </div>

          </div>
        </div>
        
      </div>

      <!-- панель выбранные вещи-->
    </div>
  </div>
  <!-- endtopbar_panel-->

  <!-- logo panel -->
  <div class="large-12 small-12 columns nopadding logobar_wrapper">
    <div class="row logobar_content nopadding height_inherit">
      <div class="small-2 columns height_inherit nopadding mobile_menu_button">
        <i class="fi-align-justify height_inherit mobile_menu_button_ico">
          
        </i>
      </div>
      <div class="large-12 small-9 columns height_inherit logo_wrapper nopadding">
        <a href="#">
          <img src="/media/logo/logo.png" alt="Платья">
        </a>
      </div>
    </div>
  </div>
  <!-- end logopanel-->

  <!-- menubar -->
  {{top.menubar}}
  <!-- конец menubar -->

  {% csrf_token %}

  {% block content %}
  {% endblock %}

  <!-- конец блока содержания-->
  <script>
    //ajax запрос
    var makeAjax = function(parameters){
      $.ajax({
          type: "POST",
          url: "/ajax/",
          data: JSON.stringify(parameters),
          contentType: "application/json; charset=utf-8",
          headers: {
            'X-CSRFToken': getCookie('csrftoken')
          },
          dataType: "json",
          async: true,
          success: function(data, textStatus, jqXHR){

          }
      });
    }

    //построить cookie в данном случае для csrf_token
    var getCookie = function(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
  </script>
  <script src="{% static 'js/topbar/menubar.js' %}"></script>
</body>