<div class="large-12 small-12 columns nopadding height_inherit gallery_unit_image_wrapper" style="background-image:url('/media/{{image_small}}');" data-id="{{gallery_id}}">

	<div class="large-12 small-12 columns gallery_unit_description_wrapper height_inherit nopadding">
		
		<div class="large-12 small-12 columns gallery_unit_description_top">
			
		</div>

		<div class="large-12 small-12 columns gallery_unit_description_bottom">
			<h4 class="vera_crouz color_purple">{{unit_name}}, {{girl_name|capfirst}}</h4>
		</div>

	</div>
</div>