.logobar_instagram_wrapper a{
	color:#a4baba;
}

.logobar_left_wrapper{
	display:block;
}

.logobar_right_wrapper{
	display:block;
}

.logobar_telephone_text{
	margin-top:-15px;
	height:15px;
}


.logobar_telephone{
	float:right;
}

.logo_content{
	font-size:90px;
	line-height: 0.7;
	color:#361134;
	background-size:400px;
	background-repeat: no-repeat;
	background-position: center -70px;
}

.mobile_menu_button{
	display:none;
}

.logobar_wrapper{
	height:175px;
}

.logo_wrapper{
	padding-top:20px;
	text-align: center;
	background-color:#fff;
}

.logo_wrapper img{
	height:105px;
}

/* для смартфонов */
@media screen and (min-width: 640px) and (max-width: 1023px) {
	.logo_wrapper{
		padding-top:40px;
	}

	.logobar_wrapper{
		height:250px;
	}

	.logo_wrapper img{
		height:200px;
	}

	.mobile_menu_button{
		display:block;
		padding-left:50px;
	}
	.mobile_menu_button_ico{
		font-size:150px;
		cursor:pointer;
	}
	.logobar_content{
		background-color:#fff;
	}
	.logobar_left_wrapper{
		display:none;
	}

	.logobar_right_wrapper{
		display:none;
	}
}