.bag_ico_wrapper{
	padding-left:5px;
}
.bag_ico_wrapper span{
	position:relative;
	top:-3px;
}

.bag_ico_wrapper img{
	height:18px;
}

.bag_wrapper{
	cursor:pointer;
	border: 1px solid #361134;
}

.bag_wrapper:hover{
	border: 1px dashed #fff;
}

.bag_wrapper:focus{
	border: 1px dashed #b0228c;
}

.login_wrapper{
	cursor:pointer;
	border:1px solid #361134;
}

.login_content_line{
	padding-left:5px;
	padding-top:5px;
	cursor:pointer;
	width:inherit;
	height:inherit;
	display:block;
	height:25px;
}

.login_content_line span a{
	color: #361134;
}

.login_content_line span a:hover{
	color:#b0228c;
}

.login_content{
	padding:15px;
	width:180px;
	background-color:#fff;
	position:absolute;
	top:30px;
	border:1px solid #361134;
	display:none;
	z-index: 101;
}

.login_wrapper:hover{
	border:1px dashed #fff;
}

.login_wrapper:focus{
	border:1px dashed #b0228c;
}

.login_wrapper:focus + .login_content{
	display:block;
}

.login_content:hover{
	display:block;
}

.triangle_wrapper{
	padding-top:10px;
	padding-left:5px;
}

.triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #fff transparent transparent transparent;
}

/* .login_text, .bag_text, .bag_count, .bag_rur{
	font-size:13px;
	letter-spacing: 0px;
} */

.topbar_content_center{
}

.search_icon i{
	margin-left:6px;
}

.search_icon{
	background-color:#fff;
	height:25px;
	cursor:pointer;
}

.topbar_content_left{
	border: 1px solid #361134;
}

.topbar_content_left:hover{
	border: 1px solid #b0228c;
	-webkit-box-shadow:0px 0 10px #b0228c; 
	-moz-box-shadow: 0px 0 10px #b0228c; 
	box-shadow:0px 0 10px #b0228c;
}

.topbar_wrapper{
	height:34px;
	background-color:#361134;
	letter-spacing: 1px;
	border-bottom: 1px solid #d9d9d9;
}

.topbar_content{
	margin-top:4px;
}


/* для смартфонов */
@media screen and (min-width: 640px) and (max-width: 1023px) {

	.topbar_wrapper{
		height:196px;	
		padding-top:30px;
		padding-left:30px;
		padding-right:30px;
	}

	.search_icon{
		height:84px;
		padding-top:10px;
	}

	.search_icon i{
		font-size:44px;
		margin-left:20px;
	}

	.login_text, .bag_text, .bag_count, .bag_rur{
		font-size:35px;
		letter-spacing: 0px;
	}
	
	.login_wrapper, .bag_wrapper{
		padding-top:10px;
	}

	.triangle{
		border-width: 15px 15px 0 15px;
	}

	.triangle_wrapper{
		padding-top:20px;
		padding-left:15px;
	}

	.login_wrapper{
		border:3px solid #361134;
	}

	.login_wrapper:hover{
		border:3px dashed #fff;
	}

	.login_wrapper:focus{
		border:3px dashed #b0228c;
	}

	.topbar_content_left{
		border: 3px solid #361134;
	}

	.topbar_content_left:hover{
		border: 3px solid #b0228c;
		-webkit-box-shadow:0px 0 30px #b0228c; 
		-moz-box-shadow: 0px 0 30px #b0228c; 
		box-shadow:0px 0 30px #b0228c;
	}
	.login_content{
		width:460px;
		top:184px;
		border: 2px solid #a4baba;
	}

	.login_content_line{
		padding-left:15px;
		padding-top:5px;
		cursor:pointer;
		width:inherit;
		height:inherit;
		display:block;
		height:75px;
	}

	.bag_wrapper{
		border: 3px solid #361134;
	}

	.bag_wrapper:hover{
		border: 3px dashed #fff;
	}

	.bag_wrapper:focus{
		border: 3px dashed #b0228c;
	}

	.bag_ico_wrapper img{
		height:40px;
	}
}